.pageLanding {
  .landingStart {
    display: flex;
    align-items: center;
    justify-content: center;
    .startText {
      margin-left: 4rem;
      width: 40%;

      h3 {
        margin: 0.3rem 0 0.3rem 0;
        font-size: 1.9rem;
        font-weight: 100;
      }
      p {
        text-align: justify;
      }
      button {
        cursor: pointer;
        margin-top: 2rem;
        margin-left: 1rem;
        padding: 1rem 4rem;
        border-radius: 0.8rem;
        border: solid darkseagreen;
        background-color: darkseagreen;
        color: white;
        &:hover {
          border: green solid;
          background-color: white;
          color: green;
        }
      }
    }
  }

  .landingJoin {
    display: flex;
    align-items: center;
    background-color: darkseagreen;
    padding: 3rem;
    input {
      margin-left: 3rem;
      padding: 1rem 5rem;
      border: hidden;
    }
  }

  .project {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      margin: 3rem;
      p {
        text-align: justify;
      }
    }
  }
}
